/*================================================================================
  Item Name: Frest HTML Admin Template
  Version: 1.0
  Author: PIXINVENT
  Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */

/*================================================================================
Please write your own css/scss codes from now on.
Use variables smartly as possible, if all pages get affected by its vaule.
Place new custom variables which you define in _variables-custom.scss
================================================================================*/

.text-truncate {
  color: black;
  font-size: 14px;
}

.vertical-layout.vertical-menu-modern.menu-expanded .main-menu {
  width: 380px;
  background: #f2f4f4;
}

.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation {
  background: #f2f4f4;
}

.vertical-layout.vertical-menu-modern.menu-expanded .main-menu .navigation li.has-sub > a:not(.mm-next):after {
  content: "";
  font-family: "boxicons";
  font-size: 1.2rem;
  color: #8494a7;
  display: inline-block;
  position: absolute;
  right: 7px;
}

.vertical-layout.vertical-menu-modern.menu-expanded .footer {
  margin-left: 380px;
}

.header-navbar.fixed-top {
  left: 380px;
}

@media (max-width: 1200px) {
  .header-navbar.fixed-top {
    left: 0;
  }

  .feedback {
    display: none;
  }

  .header-navbar.navbar-static-top .navbar-wrapper {
    margin-left: 0;
  }

  #navbar-mobile.navbar-collapse .navbar-nav .menu-toggle {
    top: 0;
  }
}

html .content {
  margin-left: 380px;
}

html .navbar-static .navbar-container {
  padding-left: 3rem;
  padding-right: 3rem;
}

html .navbar-sticky .navbar-container {
  padding-left: 3rem;
  padding-right: 3rem;
}

html .navbar-sticky .app-content .content-wrapper {
  margin-top: 5.5rem;
  padding: 1rem 4rem;
}

html .navbar-sticky.navbar-scrolled:not(.horizontal-layout) .header-navbar {
  box-shadow: none;
}

.main-menu.menu-light .navigation > li.nav-item:not(.has-sub) a {
  padding: 0px 1.5rem 10px 12px;
}

.main-menu.menu-light .navigation li a {
  padding: 0px 1.5rem 10px 12px;
}

.main-menu.menu-light .navigation > li.nav-item.open > a {
  padding: 0px 10px 9px 1px;
}

.main-menu.menu-light .navigation > li.nav-item.sidebar-group-active > a {
  padding: 0px 10px 9px 1px;
}

.main-menu.menu-light .navigation > li.nav-item.open.has-sub.open {
  border-radius: 0.267rem;
  border: 0px solid #DFE3E7;
  background-color: #F2F4F4;
}

.main-menu.menu-light .navigation > li.nav-item.open.has-sub.sidebar-group-active {
  border-radius: 0.267rem;
  border: 0px solid #DFE3E7;
  background-color: #F2F4F4;
}

.main-menu.menu-light .navigation > li.nav-item.sidebar-group-active.has-sub.open {
  border-radius: 0.267rem;
  border: 0px solid #DFE3E7;
  background-color: #F2F4F4;
}

.main-menu.menu-light .navigation > li.nav-item.sidebar-group-active.has-sub.sidebar-group-active {
  border-radius: 0.267rem;
  border: 0px solid #DFE3E7;
  background-color: #F2F4F4;
}

.main-menu.menu-light .navigation > li ul li > a {
  padding: 0px 9px 10px 9px !important;
}

.main-menu.menu-light .navigation > li > ul > li:first-child > a {
  border-top: 0px solid #DFE3E7;
}

.main-menu.menu-light .navigation > li > ul > li > a > span {
  color: black;
  font-weight: 400;
}

.main-menu.menu-light .navigation > li.active:not(.sidebar-group-active) > a {
  background: none;
}

.fonticon-container > .fonticon-wrap {
  float: left;
  height: 20px;
  width: 35px;
  text-align: center;
  margin-bottom: 0;
}

.fonticon-container > .fonticon-wrap > i {
  font-size: 1.28rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nav-item.has-sub.open {
  margin-bottom: 10px !important;
}

.nav-item.has-sub.open span {
  color: #5469d4;
  font-weight: 700;
}

.custom-sub-menu span {
  padding-left: 26px;
}

.dropdown.show a {
  background-color: #fff;
  margin-right: 0px;
}

.dropdown.show a h2 {
  color: white;
}

.dropdown.show ul {
  width: 240px;
}

.custom-logo {
  width: 28px;
  height: 28px;
  text-align: center;
  padding-top: 5px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(60, 66, 87, 0.08), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.main-menu .navbar-header .navbar-brand {
  margin-top: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 7px;
}

.main-menu .navbar-header .navbar-brand .brand-text {
  color: black;
  padding-left: 0.7rem;
  font-weight: 500;
  letter-spacing: 0.04rem;
  font-size: 17px;
  float: left;
  -webkit-animation: none;
  animation: none;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
  display: none;
  float: left;
  min-width: 9.65rem;
  padding: 0.4rem 0;
  margin: 0.3rem 0 0;
  font-size: 0.8rem;
  color: #727E8C;
  text-align: left;
  list-style: none;
  background-color: #FFFFFF;
  background-clip: padding-box;
  border: 0px solid #DFE3E7;
  border-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.custom-new-business {
  border-radius: 5px 5px 0px 0px;
}

.show .custom-new-business:hover {
  background-color: #5469d4 !important;
}

.show .custom-new-business:hover h2 {
  color: #fff !important;
}

.show .custom-new-account:hover {
  background-color: #5469d4 !important;
}

.show .custom-new-account:hover h2 {
  color: #fff !important;
}

.show .custom-edit-span {
  padding-left: 26px;
  font-size: 15px;
  display: block;
  color: white;
}

.custom-new-account {
  border-radius: 0px 0px 5px 5px;
}

.custom-edit-span {
  display: none;
}

.custom-edit-span:hover {
  color: #727E8C;
}

.main-menu-content {
  margin-top: -30px;
}

.nav-item.active span {
  color: #5469d4;
  font-weight: 700;
}

.main-header-navbar {
  background-color: white !important;
  border-bottom: 1px solid #E3E8EE;
}

.navbar-container .search-input.open {
  position: relative;
  box-shadow: none;
  z-index: 1;
}

.navbar-container .search-input input {
  padding: 1.7rem 1.5rem;
}

.navbar-container .search-input .search-input-icon {
  left: 0;
}

.dropdown-user {
  margin: auto;
}

h1 {
  color: black;
}

h2 {
  color: black;
  color: #1a1f36;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
}

h3 {
  color: black;
}

h4 {
  color: black;
}

h5 {
  color: black;
}

h6 {
  color: black;
}

.h1 {
  color: black;
}

.h2 {
  color: black;
}

.h3 {
  color: black;
}

.h4 {
  color: black;
}

.h5 {
  color: black;
}

.h6 {
  color: black;
}

.settings-header {
  border-bottom: #8080804a 1px solid;
}

body * {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, sans-serif;
}

body {
  color: #3c4257;
  font-size: 14px;
}

.settings-m-element {
  padding-top: 16px;
  padding-right: 8px;
  padding-bottom: 16px;
  position: relative;
}

.settings-m-element h4 {
  font-size: 14px;
  font-weight: 500;
}

.settings-m-element a {
  color: #5469d4 !important;
  font-weight: 500;
}

.settings-m-element a:hover {
  color: black !important;
  font-weight: 500;
}

.settings-m-element ul {
  padding-left: 0;
}

.settings-m-element .disabled a {
  color: #3c4257 !important;
  font-weight: 500;
}

.settings-m-element .btn:not(.plus-btn) {
  position: absolute;
  bottom: 16px;
}

.settings-m-element .plus-btn {
  position: absolute;
  right: 16px;
  top: 24px;
}

.min-height-210 {
  min-height: 220px;
}

.border-right {
  border-right: 1px solid #8080804a;
}

.btn {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
}

.btn.btn-primary {
  border-color: #3149c4 !important;
  background-color: #5469d4 !important;
  color: #fff;
}

.btn.btn-primary span {
  color: #fff;
}

.btn.btn-white {
  color: #3c4257 !important;
  background-color: white;
}

.btn.btn-sm {
  line-height: 20px;
  font-size: 14px;
  padding: 4px 8px;
}

.btn.btn-sm i {
  font-size: 14px;
}

.btn span {
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
  text-transform: none;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, sans-serif;
  color: #3C4257;
}

.btn:hover {
  color: #3c4257;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.08) 0px 3px 9px 0px, rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
}

.btn.dropdown-toggle {
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn.border-0 {
  box-shadow: none !important;
}

btn.disabled span {
  opacity: 0.5;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  color: #3c4257 !important;
}

.plus-btn {
  padding: 8px 16px;
}

.settings-card {
  padding: 8px 16px;
  border: 1px solid #8080804a;
  border-radius: 6px;
  margin-top: 16px;
}

.settings-card .settings-m-element {
  padding: 8px 0px;
}

.Icon-color--white-svg {
  fill: white;
}

.customers-buttons {
  right: 0;
}

.empty-state {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  min-height: 564px;
}

.empty-state .empty-state-inner {
  max-width: 496px;
  padding: 48px;
}

.empty-state .empty-state-icon {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px 0 #eee, 0 1px 1px 0 #999;
  display: inline-block;
}

.empty-state .empty-state-icon i {
  background-color: #f7fafc;
  padding: 12px;
  font-size: 24px;
  color: #8792a2;
}

.empty-state .empty-state-title {
  padding-top: 24px;
  line-height: 28px;
  font-weight: 700;
  font-size: 20px;
  color: #1a1f36;
}

.empty-state .empty-state-content {
  color: #697386;
  line-height: 20px;
  font-size: 14px;
  white-space: normal;
  margin-top: 4px;
}

.empty-state .empty-state-more {
  margin-top: 4px;
}

.empty-state .empty-state-more svg {
  fill: #5469d4;
}

.empty-state .empty-state-action {
  margin-top: 24px;
}

.content-new .content-header {
  padding: 20px 20px 20px 8px;
  box-shadow: inset 0 -1px #e3e8ee;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  z-index: 1000;
}

.content-new .content-header .btn-close {
  padding: 0 12px;
  box-shadow: none;
}

.content-new .content-header .btn-close svg {
  fill: #4f566b;
  margin-bottom: 5px;
}

.content-new .content-header .header-title {
  color: #3C4257;
  font-weight: 500;
}

.content-new .content-header .seperator {
  background-color: #c1c9d2;
  margin: 0 20px 0 8px;
  width: 1px;
  height: 16px;
  border-radius: 4px;
}

.content-new .content-header .header-right .btn-none {
  box-shadow: none;
}

.content-new .content-header .header-right .btn-white {
  margin-left: 20px;
  margin-right: 7px;
}

.content-new .content-body {
  background-color: #fff;
  overflow: hidden;
  overflow-y: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 100%;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  height: calc(100% - 76px);
}

.content-new .content-body .content-center {
  margin: 90px auto 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  padding: 0 20px;
}

.content-new .content-body .content-center .btn-tab {
  color: #3c4257;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.content-new .content-body .content-center .btn-tab.tab-actived {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, #5469d4 0px 0px 0px 2px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.content-new .content-body .content-center .btn-tab.tab-actived span {
  color: #5469d4;
}

.content-new .content-body .content-center .btn-tab svg {
  fill: #4f566b;
  margin-bottom: 4px;
}

.content-new .content-body .content-center label {
  color: #1A1F36;
  line-height: 20px;
  font-size: 14px;
  text-transform: none;
  margin-bottom: 8px;
}

.content-new .content-body .content-center label span {
  color: #697386;
  font-weight: 400;
  font-size: 12px;
}

.content-new .content-body .content-center .form-control:focus {
  border-color: #DFE3E7;
  outline: 0;
  box-shadow: none;
}

.content-new .content-body .content-center .mt-2,
.content-new .content-body .content-center .my-2 {
  margin-top: 2rem !important;
}

.content-new .content-body .content-center .input-group-prepend .input-group-text {
  background: none;
}

html .content .content-wrapper .breadcrumb-wrapper .breadcrumb {
  border: none;
  background: none;
  font-size: 14px;
  font-weight: 500;
}

html
.content
.content-wrapper
.breadcrumb-wrapper
.breadcrumb
.breadcrumb-item
+ .breadcrumb-item:before {
  color: #828D99;
  padding-right: 9px;
  font-size: 20px;
  line-height: 0.8;
}

html
.content
.content-wrapper
.breadcrumb-wrapper
.breadcrumb
.breadcrumb-item
a,
html
.content
.content-wrapper
.breadcrumb-wrapper
.breadcrumb
.breadcrumb-item
a
i {
  color: #3C4257;
}

.form-control-sm {
  height: 2rem;
  font-size: 0.9rem;
  line-height: 1;
  padding: 0 0.7rem;
}

.form-control-sm.form-control-position {
  top: 6px !important;
}

.form-control-sm.form-control-position i {
  color: #475F7B;
}

.form-label-group {
  margin-bottom: 1rem;
}

.table {
  margin-bottom: 0;
}

.table thead th {
  border-bottom: 1px solid #E3E8EE;
  border-top: 1px solid #E3E8EE;
  font-weight: 500;
  color: #1A1F36;
  padding: 8px;
  font-size: 11px;
}

.table tr {
  cursor: pointer;
}
.table tbody tr:last-child td {
  border-bottom: 1px solid #E3E8EE !important;
}

.table th,
.table td {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Ubuntu, sans-serif;
}

.table td {
  border-bottom: 1px solid #E3E8EE;
  color: #3C4257;
  font-weight: 400;
  line-height: 20px;
  font-size: 14px;
  padding: 0.8rem 8px;
}

.badge {
  padding: 2px 6px;
  font-size: 12px;
}

.badge.compact {
  padding: 1px 4px !important;
  text-transform: none !important;
}

.badge.badge-light-primary {
  background-color: #d6ecff;
  color: #3d4eac !important;
}

.badge.badge-light-success {
  background-color: #cbf4c9;
  color: #0e6245 !important;
}

.ek-tab {
  padding: 0px 0;
  box-shadow: inset 0 -1px #e3e8ee;
  margin-bottom: 25px;
}

.ek-tab .ek-tab-item {
  color: #777c8c;
  display: inline-block;
  padding: 6px 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: #777c8c;
}

.ek-tab .ek-tab-item.active {
  border-bottom: 2px solid #5469d4;
}

.ek-contents .ek-content {
  display: none;
}

.ek-contents .ek-content.active {
  display: block;
}

.font-medium-1 {
  font-size: 16px !important;
  font-family: "Rubik", Helvetica, Arial, serif;
  cursor: pointer;
}

.showless a {
  font-size: 14px !important;
  font-family: "Rubik", Helvetica, Arial, serif;
  color: #5469d4;
}

.meta-info {
  color: #a3acb9;
}

.modal-title {
  font-size: 16px !important;
}

.detail-a {
  margin-left: 50%;
  font-size: 14px;
}

.metadata-a {
  margin-left: 41%;
  font-size: 14px;
}

.UnstyledLink {
  font-size: 13px;
  font-family: "Rubik", Helvetica, Arial, serif;
  color: black;
}

.cursor-pointer {
  border-bottom: 1px solid #d8dadc;
  padding-bottom: 15px;
}

.overview-detail {
  font-size: 16px;
  border-bottom: 1px solid #d8dadc;
  padding-bottom: 5px;
  font-family: "Rubik", Helvetica, Arial, serif;
}

.overview-content {
  font-size: 16px;
  font-weight: bold;
}

.metadata-content {
  font-size: 13px !important;
}

.toggle-info {
  font-size: 16px;
  margin-top: 2%;
}

.text-muted {
  color: #697386 !important;
}

.customers-table thead th {
  border-top: none;
}

.customers-table thead th .SVGInline-svg {
  margin-left: 3%;
}

.customers-table thead th a {
  color: black;
  font-weight: 500;
  text-decoration: none;
}

.customers-table tbody td a {
  color: #3C4257;
  font-weight: 500;
  text-decoration: none;
}

.rotate-180 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.form-group .select2-selection__arrow b {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.form-group .select2-selection--single {
  max-height: 30px !important;
  min-height: 30px !important;
  height: 30px !important;
  border: 1px solid #dfe3e7;
}

.form-group .select2-selection--single .select2-selection__arrow {
  min-height: 30px;
}

.form-group .select2-selection--single .select2-selection__rendered {
  line-height: 17px;
}

.form-group .select2-selection--single .icon-arrow {
  position: absolute;
  top: 3px;
  right: 8px;
  z-index: 2;
  -webkit-transition: color .24s;
  transition: color .24s;
  pointer-events: none;
}

.form-group .input-group-append .select2-selection--single {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.form-group .form-control:focus {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(58, 151, 212, 0.36) 0px 0px 0px 4px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  border-color: #DFE3E7;
}

.form-group .select2-container--classic .select2-selection--single:focus {
  border-color: #DFE3E7 !important;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(58, 151, 212, 0.36) 0px 0px 0px 4px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px !important;
}

.form-group .select2-container--default .select2-selection--single:focus {
  border-color: #DFE3E7 !important;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(58, 151, 212, 0.36) 0px 0px 0px 4px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px !important;
}

.form-group .select2-container--classic.select2-container--open .select2-selection--single {
  border-color: #DFE3E7 !important;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(58, 151, 212, 0.36) 0px 0px 0px 4px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.form-group .select2-container--default.select2-container--open .select2-selection--single {
  border-color: #DFE3E7 !important;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(58, 151, 212, 0.36) 0px 0px 0px 4px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

#customer-add-modal .modal-dialog {
  width: 100%;
  max-width: 448px;
  min-width: 296px;
}

#customer-add-modal .modal-dialog .modal-content {
  max-height: calc(100vh - 80px);
}

#customer-add-modal .modal-dialog .modal-content .modal-header {
  padding: 1rem 1.5rem;
}

#customer-add-modal .modal-dialog .modal-content .modal-body {
  background: #f7fafc;
  padding: 1.3rem 1.5rem;
}

#customer-add-modal .modal-dialog .modal-content .modal-body #billing-info {
  display: none;
}

#customer-add-modal .modal-dialog .modal-content .modal-body .billing-details-hidden {
  display: none;
}

#customer-add-modal .modal-dialog .modal-content .modal-body .billing-details-hidden input {
  margin-bottom: 5px;
}

#customer-add-modal .modal-dialog .modal-content .modal-body label {
  color: #000000c4;
  font-size: 14px;
  text-transform: initial;
  font-weight: 500;
  font-family: "Rubik", Helvetica, Arial, serif;
}

#customer-add-modal .modal-dialog .modal-content .modal-body .iti {
  width: 100%;
}

#customer-add-modal .modal-dialog .modal-content .modal-body .iti__country-list {
  width: 366px;
}

#customer-add-modal .modal-dialog .modal-content .modal-body .tax-id-info > div {
  display: inline-block;
}

#customer-add-modal .modal-dialog .modal-content .modal-footer {
  padding: 1rem 1.5rem;
}

#customer-edit-modal .modal-dialog {
  width: 100%;
  max-width: 448px;
  min-width: 296px;
}

#customer-edit-modal .modal-dialog .modal-content {
  max-height: calc(100vh - 80px);
}

#customer-edit-modal .modal-dialog .modal-content .modal-header {
  padding: 1rem 1.5rem;
}

#customer-edit-modal .modal-dialog .modal-content .modal-body {
  background: #f7fafc;
  padding: 1.3rem 1.5rem;
}

#customer-edit-modal .modal-dialog .modal-content .modal-body #billing-info {
  display: none;
}

#customer-edit-modal .modal-dialog .modal-content .modal-body .billing-details-hidden {
  display: none;
}

#customer-edit-modal .modal-dialog .modal-content .modal-body .billing-details-hidden input {
  margin-bottom: 5px;
}

#customer-edit-modal .modal-dialog .modal-content .modal-body label {
  color: #000000c4;
  font-size: 14px;
  text-transform: initial;
  font-weight: 500;
  font-family: "Rubik", Helvetica, Arial, serif;
}

#customer-edit-modal .modal-dialog .modal-content .modal-body .iti {
  width: 100%;
}

#customer-edit-modal .modal-dialog .modal-content .modal-body .iti__country-list {
  width: 366px;
}

#customer-edit-modal .modal-dialog .modal-content .modal-body .tax-id-info > div {
  display: inline-block;
}

#customer-edit-modal .modal-dialog .modal-content .modal-footer {
  padding: 1rem 1.5rem;
}

.empty-avatar {
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  width: 35px;
  height: 35px;
  background-color: #8a8888;
  color: white;
  border-radius: 50%;
  padding-top: 8px;
}

.reviews-notes .card-body {
  height: 300px;
  position: relative;
}

.reviews-notes .list-group .list-group-item:hover {
  z-index: 0;
}

